// Abstracts
@use '../abstracts' as *;

/* Navigation */

nav {
    & > div {
        height: $nav-height;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: sticky;
        top: 0;
        background-color:  $background-color;
    
        &.inner {
            padding-block: unset;
        }
    
        ul {
            display: flex;
        }
    
        a {
            text-decoration: none;
            padding-inline-start: $size * 10;
            font-size: $font-size-large;
        }
    }

}