@use '../../abstracts' as *;

.hero-section {
    @include flex-column;
    min-height: $hero-min-height;

    &_header{
        padding-inline: $inner-padding-inline;
        padding-block: $size * 8;
        max-width: $inner;
        margin: 0 auto;
        width: 100%;

        @media (width > 769px ) {
            height: $hero-min-height-half;
        }

        h1 {
            max-width: 400px;
            margin-bottom: $size * 8;
        }
    }

    &_footer {
        @include flex-center;
        padding-block: $size * 6;
        background: linear-gradient(90deg, rgba(25,48,88,1) 0%, rgba(28,29,52,1) 100%);
        padding-inline: $inner-padding-inline;
        

        @media (width > 769px ) {
            height: $hero-min-height-half;
        }

        .card {
            max-width: $inner;
            flex-wrap: wrap;
            width: fit-content;
            margin: 0 auto;
            padding: $size * 4 $size * 3;
            column-gap: $size * 5;
            row-gap: $size * 2;
            width: 100%;

            @media (width > 768px) {
                padding: $size * 4 $size * 6;
            }

            h3 {
                margin-block-end: calc($size / 2)
            }

            p {
                margin-block-end: $size * 1;
                font-size: $font-size-small;
                max-width: 800px;

                &:last-of-type {
                    margin-block-end: $size * 3;
                }
            }
        }

        .card_inputs {
            display: flex;
            flex-wrap: wrap;
            align-items: end;
            column-gap: $size * 5;
            row-gap: $size * 2;

            label, button {
                min-width: 100%;

                @media (width > 768px) {
                    min-width: 250px;
                }
            }

            button {
                @media (width < 769px) {
                    margin-block-start: $size * 2;
                }
            }

            #showPrice {
                min-width: 250px;
                color: $primary-color;

                @media (width <= 768px) {
                    margin-top: $size * 2;
                }

                span {
                    font-size: $font-size-large;
                }
            }
        }

        .card_right {
            display: flex;
            align-items: center;
            width: 100%;

            @media (width > 768px) {
                width: 250px;
                padding-inline-start: $size * 4;
            }

            #showPrice {
                display: flex;
                flex-direction: column;
                gap: calc($size / 2);

                @media (width < 769px) {
                    width: 100%;
                    margin-block-start: $size * 3;
                }

                span:not(.tva-span):not(.tooltiptext) {
                    border-top: 1px solid $dark-gray;
                    padding-block: 6px;
                    padding-inline-end: $size * 5;
                    font-size: $font-size-small;
                    display: flex;
                    align-items: center;

                    &.total-price {
                        font-size: $font-size-large;
                        font-weight: 500;
                        color: $text-color;
                    }
                }

                .tva-span {
                    font-size: $font-size-small;
                    color: $dark-gray;
                }

                .tooltip {
                    margin-inline-start: $size ;
                    background: $primary-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    color: $white-color;
                    width: $size * 2;
                    height: $size * 2;
                    font-size: $font-size-small;
                }
            }
        }
    }


}
